.about-area {
    .section-title {
        margin-bottom: 0;

        @media (max-width: 1024px) {
            padding-bottom: 0px;
        }
    }

    .about-left {
        @media (max-width: 991px) {
            display: none;
        }
    }

    .primary-btn.white {
        margin-right: 10px;

        @media (max-width: 1199px) {
            margin-right: 0;
            margin-bottom: 15px;
        }

        @media (max-width: 991px) {
            margin-bottom: 0px;
        }

        @media (max-width: 374px) {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}